




.size{
    height: 2rem;
    width:2rem ;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}
.acolor{
    height: 5vh;
    width: 20vw;
    margin: 1vw;
    object-fit: contain;
    object-position: center;
}
.p-d-none{
    display: none;
}
#back-btn{
    margin:2rem;
    text-align: center;
    color: black;
}
#product-container{
    display: none;
}
.ofs{
    font-weight: 600;
    color: rgb(193, 22, 22);
}

